.App {
  text-align: left;
}

.searchContainer {
  flex: 1;
  justify-content: center;
  align-content: center;
}

.lineThrough {
  text-decoration: line-through;
}

.statusList {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
